body {
  background-color: black
}
p { 
  color: white; 
  margin: 1px;
}
pr {
  color: red
}
pb {
  color:blue
}
pg {
  color: green
}
py {
  color:yellow
}
h1 {
  color: white
}
h2 {
  color: white
}
h3 { 
  color: white
}
h4 {
  color: white
}