body {
  background: white;
}
p {
  font-size: 15px; 
  color: ;
}
pc {
  font-size: 15px; 
  color:greenyellow; 
  text-decoration: line-through overline underline; 
  text-shadow: -3px 3px green; 
}
p { 

}
h1 {
  font-weight: bold;
  font-size: 20;
  text-align: center;  
}
h2 { 
  text-align: center;
}